body {
    width: 100vw;
    height: 100vh;
    margin: 0px;
}


.menu__bar {
    margin: 0px;
    height: 2.5rem;
}
.menu__btn {
    margin: .5rem;
    font-size: 2rem;

}
.menu--open {
    position: fixed;
    top: 0px;
    left: 0px;
    color: #ffe;
}
.menu__overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    display: none;
    justify-content: center;
    align-items: center;
}
.menu__list {
    list-style-type: none;
    padding: 0px;
    align-items: center;
    gap: 1.25rem;
}
.list__item {
    color: #ffe;
    font-size: 2rem;
    font-family: 'Roboto';
}

main {
    width: 100%;
    height: 100%;
    justify-content: space-around;
}


/* FONT */
.font__size--3rem {
    font-size: 3rem;
}

/* BACKGROUND */
.bg-color--dark-grey {
    background-color: #333;
}

/* FLEXBOX */
.flex, .show {
    display: flex;
}
.hidden {
    display: none;
}
.column {
    flex-direction: column;
}
.space__between {
    justify-content: space-between;
}
.space__evenly {
    justify-content: space-evenly;
}
.space__around {
    justify-content: space-around;
}

