@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0px;
}

.menu__bar {
    margin: 0px;
    height: 2.5rem;
}
.menu__btn {
    margin: .5rem;
    font-size: 2rem;
}
.menu--open {
    position: fixed;
    top: 0px;
    left: 0px;
    color: #ffe;
}
.menu__overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    display: none;
    justify-content: center;
    align-items: center;
}
.menu__list {
    list-style-type: none;
    padding: 0px;
    align-items: center;
    gap: 1.25rem;
}
.list__item {
    color: #ffe;
    font-size: 2rem;
    font-family: 'Roboto';
}

main {
    width: 100%;
    height: 100%;
    justify-content: space-around;
}


/* FONT */
.font__size--3rem {
    font-size: 3rem;
}

/* BACKGROUND */
.bg-color--dark-grey {
    background-color: #333;
}

/* FLEXBOX */
.flex, .show {
    display: flex;
}
.column {
    flex-direction: column;
}
.space__between {
    justify-content: space-between;
}
.space__evenly {
    justify-content: space-evenly;
}
.space__around {
    justify-content: space-around;
}

/* ANALOUGE CLOCK */

.clock {
    width: 500px;
    height: 500px;
    border-radius: 100%;
    background-image: url(/assets/minutes.png);
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.dot {
    height: 20px;
    width: 20px;
    background-color: #555;
    /* border: 3px solid #000; */
    outline: 7px solid #000;
    border-radius: 100%;
    z-index: 3;
}

.second {
    width: 5px;
    height: 200px;
    position: absolute;
    background-color: #555;
    bottom: 50%;
    border-radius: 20%;
    transform-origin: 50% 100%;
    animation: sec 60s steps(60, end) infinite;
}
.minute {
    width: 7px;
    height: 200px;
    position: absolute;
    background-color: #000;
    bottom: 50%;
    border-radius: 20%;
    animation: sec 3600s steps(60, end) infinite;
    transform-origin: 50% 100%;
}

@keyframes sec {
    100% {
        transform: rotate(360deg);
    }
}